:root {
  --white: hsl(0, 0%, 100%);
  --stale-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --text-weight-light: 400;
  --text-weight-heavy: 700;
  --font-primary: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stale-300);
}

.container {
  width: 320px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 20px;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.title {
  font-family: var(--font-primary);
  font-weight: var(--text-weight-heavy);
  color: var(--slate-900);
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-primary);
  font-weight: var(--text-weight-light);
  color: var(--slate-500);
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-bottom: 14px;
}
