:root {
  --white: hsl(0, 0%, 100%);
  --grey-400: hsl(212, 6%, 44%);
  --grey-500: hsl(234, 12%, 34%);

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --text-weight-light: 200;
  --text-weight-medium: 400;
  --text-weight-heavy: 600;

  --font: "Poppins", sans-serif;
}

/* CSS RESET --START-- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font);
  font-weight: var(--text-weight-medium);
  color: var(--grey-500);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* CSS RESET --END-- */

html {
  font-size: 14px;
}

@media screen and (min-width: 600px) {
}
