:root {
  --color-white: hsl(0, 0%, 100%);
  --color-yellow: hsl(47, 88%, 63%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --font-weight-light: 400;
  --font-weight-heavy: 800;
  --font-primary: "Figtree", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-light);
}

.page {
  background-color: var(--color-yellow);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-white);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-gray-950);
  box-shadow: 8px 8px var(--color-gray-950);

  max-width: 384px;
  min-width: 327px;

  margin: 24px;
  padding: 24px;
}

.image {
  margin-bottom: 24px;
}

.image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.tag {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 12px;
  background-color: var(--color-yellow);
  border-radius: 4px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.author img {
  width: 32px;
  height: 32px;
}

.text-title:hover {
  cursor: pointer;
  color: var(--color-yellow);
}

.text-title {
  display: inline-block;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 12px 0;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-heavy);
}

.text-medium-1 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--color-gray-500);
  font-weight: var(--font-weight-light);
}

.text-medium-2 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-light);
}

.text-medium-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-heavy);
}

@media (max-width: 500px) {
  .text-title {
    font-size: 20px;
  }

  .text-medium-1 {
    font-size: 14px;
  }

  .text-medium-2 {
    font-size: 12px;
  }

  .text-medium-bold {
    font-size: 12px;
  }
}
